@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@0;1&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-image: linear-gradient(to right top, #0a2a5b, #004d7a, #008793, #00bf72, #7feb12); 
    height: 100vh;
}

.logo {
    margin-left: 15px;
    border-radius: 50%;
    box-shadow: 0px 4px 10px black;
}

.memory-game{
    width: 80vmin;
    height: 80vmin;
    display: flex;
    flex-wrap: wrap;
    margin:0 auto;
    gap:0.2em;
    padding: 10px;  
    border-bottom: 4px solid #c9d5e7;
}

header{
    display: flex;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items:center;
    background-color: rgba(255, 255, 255, 0.289);
    padding: 10px 0px;
}

#restart-btn{
    margin-right: 15px;
    text-transform: capitalize;
    padding: 7px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-weight: bold;
    background-color: #729ddc;
    cursor: pointer;
}

#restart-btn:hover {
    background-color: #6d94ce;
}

#restart-btn:active {
    background-color: #87b0ed;
}

.time--stat {
    width: 80vmin;
    margin: auto;
    margin-top: 12px;
    display: flex;
    justify-content: space-around;
}

.memory-card{
    width: 24%;
    position: relative;
    background-color: white;
}

.memory-card>img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
}
.front-face{
    object-fit: cover;
    /* object-position: top center; */

}
.front-face,.back-face{
    pointer-events: none;
}
.modal {
    position: absolute;
    background: #00000070;
    color: #eeee;
    display: none;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
}
.modal-body {
    position: absolute;
    background: #96b6f1;
    color: #252552;
    width: 30vw;
    height: 25vh;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -2px -1px 17px #b6b6b6, 0px 0px 20px 0px #f6f6f6;
}
.finish-text {
    text-transform: uppercase;
}
.modal-btn {
    color: #eeee;
    background: #144e69;
    padding: 10px;
    margin: 10px 0 0 0;
    width: 40%;
    font-size: 1.4vw;
    border-radius: 20px;
    border: 1px solid #000;
    cursor: pointer;
}
.modal-btn:hover{
    background: #eee;
    color: #033b54;
    border-radius: 10px;
}
