@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@0;1&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-image: linear-gradient(to right top, #0a2a5b, #004d7a, #008793, #00bf72, #7feb12); 
    height: 100vh;
}

.logo {
    margin-left: 15px;
    border-radius: 50%;
    box-shadow: 0px 4px 10px black;
}

.memory-game{
    width: 80vmin;
    height: 80vmin;
    display: flex;
    flex-wrap: wrap;
    margin:0 auto;
    gap:0.2em;
    padding: 10px;  
    border-bottom: 4px solid #c9d5e7;
}

header{
    display: flex;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items:center;
    background-color: rgba(255, 255, 255, 0.289);
    padding: 10px 0px;
}

#restart-btn{
    margin-right: 15px;
    text-transform: capitalize;
    padding: 7px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-weight: bold;
    background-color: #729ddc;
    cursor: pointer;
}

#restart-btn:hover {
    background-color: #6d94ce;
}

#restart-btn:active {
    background-color: #87b0ed;
}

/* Mute button */
#mute-toggle{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

#mute-btn {
    float: right;
    padding-left: 5px;
    padding-right: 5px;
}

.mute-toggle-input{
	height: 0;
	width: 0;
	visibility: hidden;
    float: right;
}

.mute-toggle-label {
	cursor: pointer;
	text-indent: -45px;
    text-shadow: #004d7a;
	width: 40px;
	height: 22px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
    float: right;

}

.mute-toggle-label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 100px;
    transition: 0.3s;
    float: right;

}

.mute-toggle-input:checked + .mute-toggle-label {
	background: #bada55;
}

.mute-toggle-input:checked + .mute-toggle-label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.mute-toggle-label:active:after {
	width: 20px;
}
/* Mute button ends */
.time--stat {
    width: 80vmin;
    margin: auto;
    margin-top: 12px;
    display: flex;
    justify-content: space-around;
}

.memory-card{
    width: 24%;
    position: relative;
    background-color: white;
}

.memory-card>img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
}
.front-face{
    object-fit: cover;
    /* object-position: top center; */

}
.front-face,.back-face{
    pointer-events: none;
}